/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Custom scrollbar for better aesthetics */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Base styles */
body {
  @apply bg-gray-50 font-sans;
}
